header {
    margin-bottom: 120px;
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    padding-left: 20px;
    align-items: center;
    text-decoration: none;
    color: black;
}

.logo img {
    margin-right: 20px;
}

.logo h2 {
    font-size: 40px;
    margin: 0;
}

.navbar {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar ul {
    width: 100%;
    list-style: none;
    justify-content: space-evenly;
    display: flex;
    gap: 40px;
    margin: 0;
    padding-right: 20%;
    font-size: 24px;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #8A4924;
}

.navbar a.active {
    border-bottom: 3px solid #8A4924;
    color: #8A4924;
}

.auth-check {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    margin: 0;
    gap: 15px;
    justify-content: flex-end;
    color: black;
    z-index: 10000;
}

.auth-check a {
    padding-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
}

.auth-check a:hover {
    color: #8A4924;
}