html {
    scroll-behavior: smooth;
    background-color: #f3f3f3;
}

body {
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
}

main {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    max-width: 600px;
    margin: 50px 20px 0 20px;
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    color: #6A3DC4;
}

.login-container {
    width: 100%;
}

.form-group-id,
.form-group-password,
.form-group-memory,
.form-group-login,
.form-group-join,
.form-group-forgot {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #9661FF;
    margin-bottom: 8px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #C7C4FF;
    border-radius: 4px;
    background-color: #f6eefc;
    margin-top: 2px;
    box-shadow: 2px 4px 8px rgba(212, 191, 239, 0.2);
}

input[type="checkbox"] {
    margin-right: 10px;
}

.form-group-memory {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"] {
    background: linear-gradient(45deg, #a8a4f8, #ecc5ec);
    color: white;
    border: none;
    box-shadow: 2px 4px 8px rgba(212, 191, 239, 0.2);
}

button[type="submit"]:hover {
    background: linear-gradient(45deg, #B589FF, #A77BEF);
}

.form-group-login {
    display: flex;
    justify-content: center;
}

.form-group-join,
.form-group-forgot {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    color: #7870ec;
}

a {
    color: inherit;
}